# URL của Backend Laravel (thay bằng URL Railway sau khi deploy)
NEXT_PUBLIC_API_URL=https://your-backend.railway.app

# Solana Configuration (Devnet - đã deploy sẵn)
NEXT_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_MOCK_USDC_MINT=Co4758jcs8XiSMgfiGhsM278KBceNQwzmX2B9fERd7J7
NEXT_PUBLIC_SOLANA_PROGRAM_ID=JC8zNCPiuxsCdrH7ffLxEvYX65PSWkGXSUt1rqMZ3KRQ
